@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
body, p, ul, ol, dl, table, blockquote, pre, code, h1, h2, h3, h4, h5 {
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    line-height: 1.4em;
    color: #444;
}
body { background: #eee !important; }
h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.13333em; }
ul#nav-breadcrumb {
    font-size: 86%;
    background-color: #eee;
    padding: 5px 20px;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* for ie 6/7 (trigger haslayout) */
}


div.afha-logo {
    margin: 0 0 2em 0;
    /*margin: 0 0 40px -17px;*/
    /*padding: 0 1em 20px 25px;*/
    /*-moz-box-shadow: 0px 20px 15px -15px #ddd;*/
    /*-webkit-box-shadow: 0px 20px 15px -15px #ddd;*/
    /*box-shadow: 0 20px 15px -15px #ddd;*/
}
div.afha-logo a:hover img { opacity: 0.5; }
div.afha-logo img {
    border: 0;
    width: 100%;
    max-width: 610px;
    transition:         opacity 500ms;
    /*max-width: 628px;*/
    /*max-width: 565px;*/
    /*min-width: 300px;*/
}

caption, th, td { vertical-align: top; }
/*div#content-primary li { line-height: 1.25em; }*/
.dept div#header { height: auto; min-width: 570px; max-width: 985px; border: none !important; }
div#site-search { padding: 0; text-align: right; margin: 11px 14px 8px 0; }
.dept div#site-search { padding: 0; }
div#site-search form { margin: 0; }
div#site-search form label { margin-left: 1.5em; }
div#site-search ul { margin-bottom: 0; white-space: nowrap; display: inline-block; }
div#site-search ul li { display: inline-block; }
div#site-search ul li.last { padding-right: 0; }

div#container { min-width: 500px; max-width: 915px; padding: 15px 35px 0 35px; border: none !important; }

ul#nav-primary { background-color: inherit; border: none; padding-top: 1em; width: 140px !important; }
ul#nav-primary li.active ul li a, ul#nav-primary li.active ul li a:hover, ul#nav-primary li ul li a, ul#nav-primary li ul li a:hover { padding: 5px 20px; }
ul#nav-primary li.active ul li, ul#nav-primary li.active ul li, ul#nav-primary li ul li, ul#nav-primary li ul li { padding: 0; }
ul#nav-primary a { color: #999 !important; font-weight: bold; font-size: 17px; }
ul#nav-primary li li a { font-size: 15px; }
ul#nav-primary a:hover { background-color: #ddd !important; color: #555 !important;
    text-decoration: none !important; }
ul#nav-primary li { border: none !important; }
ul#nav-primary li ul { padding: 0; }

div#content { float: none !important; margin-left: 170px; width: auto !important; }
div#content blockquote { /*font-size: 0.75em;*/ padding: 0.25em 0.5em; }
div#content a, div#content a:link, div#content a:hover, div#content a:visited,
div#content a:focus, div#content a:active { color: #06b; }

.dept div#content-primary { margin-top: 0; padding-bottom: 2em; }
.dept div#content-primary h1 { padding-top: 0; }
.dept div#content-primary h2 { padding-top: 0; margin-top: 1.5em;}
div#content-primary li + li { margin-top: 0.25em; }

div.afha-member-info img {
    border-radius: 3px;
    margin-right: 1.5em;
    max-width: 140px;
    max-height: 171px;
}
div.afha-sponsors { margin-top: 1.5em; }
div.afha-sponsors img {
    /*float: right;*/
    /*clear: none;*/
    display: inline;
    border: 0;
    margin: 0 0 15px 15px;
}
div.afha-members { margin-top: 2em; clear: both; }
div.afha-members > div { vertical-align: top; display: inline-block; width: 160px;
    height: 235px; padding: 10px; margin-bottom: 1em; text-align: center; }
div.afha-members a { display: inline-block; }
/*div.afha-members a span { display: inline-block; height: 171px; overflow: hidden; }*/
div#content-primary div.afha-members img {
    border: 0;
    float: none;
    display: inline-block;
    margin: 0 0 0.25em 0;
    border-radius: 3px;
    transition: opacity 300ms;
    /*max-width: 128px;*/
    height: 171px;
}
div.afha-members a:hover img { opacity: 0.85; }
div.afha-members p { margin: 0; }

div.afha-cid table.programme { margin-left: 1em; }
div.afha-cid table.programme td { line-height: 1.75em; }
div.afha-cid table.programme tr td:first-child { text-align: right; padding: 0 1em 0 0; }
div.afha-cid table.programme ol,
div.afha-cid table.programme ul { font-size: 0.925em; font-style: italic;
    line-height: 1.25em; list-style: none; margin: 0.5em 0 0.5em 0; }
div.afha-cid table.programme .day-nr { color: #aaa; }
div.afha-cid div.entry { border-top: 1px solid #bbb; padding: 0.5em 1em 0 1em; margin-bottom: 2em; }
div.afha-cid h2 { background-color: #eee; padding: 5px 10px; margin-top: 2em;
    border-radius: 4px; }
div.afha-cid h2 + div.entry { border-width: 0; padding-top: 0; }

.afha-course li + li { margin-top: 2em; }
li.alpha:before { font-size: 90%; color: #888; font-style: italic; content: "[alphabetic] "; }
