/* CSS taken from http://www.geog.cam.ac.uk/sitetech/global.css */

/* Biography pages */
body.people #sidebar {font-size: 0.87em;}
body.people #sidebar ul#contacts {margin-left: 0; padding-left: 0;}
body.people #sidebar ul#contacts li { list-style: none;}
body.people #sidebar p {margin-top: 1.5em;}
body.people #sidebar acronym {border-bottom: 1px dashed #ccc;}
body.people #sidebar img, body.people #sidebar span.photograph, .stafflist span.photograph {height: 120px;}
body.people #sidebar img.larger, body.people #sidebar span.photograph {height: 180px;}
body.people #sidebar img {border: 1px solid gray; margin-bottom: 15px;}
body.people #sidebar span.photograph, .stafflist span.photograph {border: 1px dashed #eee; display: block; margin-bottom: 20px;}
body.people #sidebar {width: 25%;}
body.people #sidebar address {font-style: normal; margin-top: 0.2em; margin-bottom: 0.2em;}
body.people #sidebar span.address, body.people #sidebar address {display: none;}
body.people #sidebar address.addressvisible {display: block;}
body.people #sidebar p.jumpto {padding-top: 1em;}
body.people h2#biography {display: none;}

/* Staff lists */
.stafflist {font-size: 0.87em;}
.stafflist h3 {font-weight: bold; }
.stafflist div.person { height: 232px; float: left; width: 160px; border/*-bottom*/: 1px solid #ddd; padding: 10px 10px 0; margin: 0 10px 10px 0; cursor: pointer}
.stafflist div.person:hover {background-color: #fcfcfc; border-color: #aaa;}
.stafflist #hod {display: block; height: 190px; margin-bottom: 10px;}
.stafflist #hod p.hod {margin: 0 0 10px; color: #666;}
.stafflist #hod div.person {margin-top: 0; height: 160px;}
.stafflist div.person h3 {text-align: center; margin: 0;}
.stafflist div.person p {text-align: center; margin-top: 11px; line-height: 1.5em;}
.stafflist div.person img, .stafflist span.photograph { 
	text-align:center;
	height: 160px; 
	margin-top:5px;
	margin-bottom:0px;
	padding:0px;
	border: 1px solid #999; }, 

/* .stafflist div.person img, .stafflist span.photograph {margin-top: 5px; margin-left: 14px; width: 130px; height: 160px; border: 1px solid #999; } */
.stafflist span.photograph {height: 160px;}
.stafflist span.photograph {border: 1px dashed #eee;}
.stafflist div.person hr {display: none;}
table.phdstudents a.person {font-weight: bold;}
.stafflist p.spriemail {float: right; color: #bbb; margin: 0 0 0 5px; padding: 0; position: relative; top: -7px; line-height: 1.1em;}

/* Editing interface */
/* NB add #purecontenteditor {font-size: 1em;} to the main stylesheet when the font-size is already small (e.g. 82%) */
#purecontenteditor, #purecontenteditor p, #purecontenteditor input, #purecontenteditor textarea, #purecontenteditor option, #purecontenteditor select {font-family: verdana, arial, helvetica, sans-serif; font-size: 1em;}
#purecontenteditor input, #purecontenteditor textarea, #purecontenteditor option, #purecontenteditor select, #purecontenteditor label {color: #603;}
#purecontenteditor table tr:hover {background-color: #fbfdff;}
#purecontenteditor {font-size: 82%;}
#purecontenteditor pre {font-size: 1em;}
#purecontenteditor p.success {background: url(../../images/general/tick.gif) no-repeat top left; padding-left: 17px; color: green;}
#purecontenteditor p.failure {background: url(../../images/general/cross.gif) no-repeat top left; padding-left: 17px; color: red;}
#purecontenteditor p.information, p.warningsign {margin: 10px 0; color: red; background: url(../../images/general/warning.gif) no-repeat top left; padding-left: 17px;}
/* #purecontenteditor h2 {font-style: normal; margin-top: 5px; size: 0.82em;} */
#purecontenteditor #administration {border: 1px solid #ccc; padding: 10px; margin-bottom: 15px;}
#purecontenteditor #administration p em {font-style: normal;}
#purecontenteditor #administration ul, #purecontenteditor #administration p {margin: 0; padding: 0; margin-top: 4px;}
#purecontenteditor #administration ul li { line-height: 1.6em; text-align: left; list-style:none;}
#purecontenteditor #administration ul li a {white-space: nowrap; color: #444; padding: 2px 5px; border: 1px solid #ddd; border-width: 0 1px;}
#purecontenteditor #administration ul li a.administrative {border-color: #966;}
#purecontenteditor #administration ul li.selected a {background-color: #936; color: white;}
#purecontenteditor #administration ul li.selected a {font-weight: bold;}
#purecontenteditor #administration ul li a:hover {color: black; text-decoration: none; background-color: #f0e1ff; border: 1px solid #6100c1; border-width: 0 1px;}
#purecontenteditor #administration ul li ul li {display: inline;}
#container {position: relative;}  /* Ensures that #purecontenteditor #administration ul li ul positioning below works; see www.wpdfd.com/editorial/wpd0904news.htm#feature */
#purecontenteditor #administration ul li ul {position: absolute; left: 110px /*27em*/; width: 600px; display: inline;}
#purecontenteditor .ultimateform table {width: 99%;}
#purecontenteditorresult {clear: both; margin-top: 1.5em;}
body #purecontenteditor div.graybox {float: none; width: auto; min-height: inherit;}

.centre {display: block; margin-left: auto; margin-right: auto;}
.left {float: left; margin-right: 12px;}
.right {float: right; margin-left: 12px;}


.ultimateform h2 {margin-top: 30px;}
.ultimateform input, .ultimateform select, .ultimateform textarea, .ultimateform option, .ultimateform table td p.currentfile span.filename {color: #603;}
.ultimateform .spaced li {margin-top: 10px;}
.ultimateform .comment {color: #888; text-align: left;}
.ultimateform .button, .ultimateform .resetbutton {cursor: pointer; background-color: #ddd; border-color: #eee #999 #999 #eee; border-style: solid; border-width: 2px;}
.ultimateform td.title {text-align: right; vertical-align: top;}
.ultimateform td.data {vertical-align: top;}
.ultimateform td.description {text-align: left; vertical-align: top; color: #888;}
.ultimateform span.description {color: #888; font-style: italic;}
.ultimateform span.restriction {color: #999; font-style: italic;}
.ultimateform table td, .ultimateform table.noborder td table td, .ultimateform table th, .ultimateform table.noborder td table th {border: 1px #eee solid; padding: 4px;}
.ultimateform table td p.currentfile {margin-top: 0; margin-bottom: 2px; padding-top: 0; padding-bottom: 0;}
.ultimateform table td p.currentfilenext {margin-top: 5px;}
.ultimateform table {border: 0; border-collapse: collapse; border-spacing: 0;}
.ultimateform table.noborder td {border: 0; padding: 0 16px 10px 0;}
.ultimateform th {text-align: center;}
.ultimateform td.results {text-align: center;}
.ultimateform td.comment {color: #ccc; font-style: italic;}
.ultimateform td.totals {text-align: center; color: #666;}
.ultimateform input.refresh {background-color: transparent; border: 0; padding: 1px; color: #aaa; font-size: 1.1em;}
/* Error box and warning highlighting */
.ultimateform div.error {border: 1px dashed gray; padding: 5px 10px; margin-top: 5px; margin-bottom: 5px;}
.ultimateform div.error p {margin-bottom: 5px;}
.ultimateform div.error ul {margin-top: 0;}
.ultimateform div.error p, div.error ul, div.error li {color: red; margin-top: 5px;}
.ultimateform .warning, .ultimateform .error {color: red;}
.ultimateform .success {color: #003300;}
.ultimateform .completion {font-weight: bold;}
.ultimateform div.debug {border: 1px dashed gray; padding: 5px 10px; color: red; margin-top: 5px; margin-bottom: 5px;}
/* CSS layout version to replace form tables */
.ultimateform div.row, .ultimateform p.submit {border-top: 1px solid #e9e9e9; vertical-align: top; padding: 5px 0 10px;}
.ultimateform div.row {clear: both;}
.ultimateform div.row span.label {float: left; width: 27%; text-align: right; padding-right: 10px;}
.ultimateform div.row span.restriction {display: block;} /* Forces line-break */
.ultimateform div.row span.data {float: left; width: 40%; text-align: left; padding-right: 10px;}
.ultimateform div.row span.description {float: left; width: 28%; text-align: left;}
/* Fieldset */
.ultimateform fieldset {border: 0;}
/* On-screen layout results */
.ultimateform table.results td.key {font-weight: bold; text-align: right;}
.ultimateform table.results td {vertical-align: top;}
/* Self-documentation */
.ultimateform table.documentation th {text-align: left;}
.ultimateform table.documentation th.displayformat, .ultimateform td.displayformat {text-align: right;}
.ultimateform td.defaultdisplayformat {text-align: left;}
/* Checkboxes/radiobuttons */
.ultimateform label {vertical-align: top; margin-right: 0.5em;}	/* For the margin, ideally, input[type=radio] should be used instead, but that's poorly supported */
.ultimateform.horizontalonly td {border-left: 0; border-right: 0;}
/* Survey results */
table.surveyresultschart td.chart {padding-left: 2em; width: 300px; border-right: 1px dashed gray;}
table.surveyresultschart td.chart div {color: black; background-color: #ccc;}

